.about-hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: fadeIn 150ms ease;
}
.about__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 3rem;
}
.about-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 19rem; */
}
.about-avatar img {
  width: 100%;
  height: 100%;
  max-width: 19rem;
  object-fit: cover;
  border-radius: 50%;
}
.about-head h3 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-top: 2rem;
  cursor: default;
}
.about-head h3:hover {
  color: #111;
}
.about-head p {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
  cursor: default;
}
.about-menu {
  margin-top: 1rem;
}
.about-menu ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}
.about-menu ul li {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  transition: 300ms;
  margin: 0 0 0.5rem 0;
  padding: 0.2rem 0.5rem 0.2rem 0;
}
.about-menu ul li img {
  width: 1.7rem;
  height: 1.7rem;
}
.about-menu ul li:hover img {
  width: 1.8rem;
  height: 1.8rem;
}
.about-menu ul li:hover span {
  color: #111;
  font-weight: 500;
  cursor: default;
}
.about-menu ul li:hover a {
  color: #111;
  font-weight: 500;
}
.about-menu ul li a {
  font-size: 1.3rem;
  color: #333;
}
.about-menu ul li span {
  font-size: 1.3rem;
  color: #333;
}
.about-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.about-inner-section {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
}

@media screen and (min-width: 564px){
  .about-menu ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .about-left {
    max-width: 19rem;
  }
  .about-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .about__content {
    flex-direction: row;
    gap: 5rem;
  }
  .about-inner-section {
    margin-top: 2rem;
  }
  
}