.blog-hero{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.blog__content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.blog__content a {
  display: inline-flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
.blog__content-grid__box {
  padding: 1rem;
  word-break: all;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 1px -1px, rgba(0, 0, 0, 0.3) 0px 1px 2px -1px;
  /* overflow: hidden; */
}

.blog__content-grid__box:hover {
  transform: translateY(-0.5rem);
  transition: all 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 6px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.blog__content-grid__box p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #333;
  margin-top: 1rem;

}

@media screen and (min-width: 768px) {
  .blog__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog__content-grid__box {
    padding: 1.5rem;
  }
  .blog__content-grid__box p {
    margin-top: 1.5rem;

  }
}
@media screen and (min-width: 1200px) {
  .blog__content-grid__box {
    padding: 2rem;
  }
  .blog__content-grid__box p {
    margin-top: 2rem;
  }
}