.about-hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: fadeIn 150ms ease;
}
.about__content {
  display: flex;
  /* flex-direction: column; */
  flex-grow: 1;
  gap:5rem;
}
.about-left {
  width: 100%;
  height: 100%;
  max-width: 19rem;
}
.about-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.about-head h3 {
  font-size: 2rem;
  color: #333;
}
.about-head h3:hover {
  color: #111;
}
.about-head p {
  font-size: 1.3rem;

}
.about-menu {
  margin-top: 1rem;
}
.about-menu ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* gap: 1rem; */
}
.about-menu ul li {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  transition: 300ms;
  margin: 0 0 0.5rem 0;
  padding: 0.2rem 0.5rem 0.2rem 0;
}
.about-menu ul li img {
  width: 1.7rem;
  height: 1.7rem;
}
.about-menu ul li:hover img {
  width: 1.8rem;
  height: 1.8rem;
}
.about-menu ul li:hover span {
  color: #111;
  font-weight: 500;
  cursor: default;
}
.about-menu ul li:hover a {
  color: #111;
  font-weight: 500;
}
.about-menu ul li a {
  font-size: 1.3rem;
  color: #333;
}
.about-menu ul li span {
  font-size: 1.3rem;
  color: #333;
}
.about-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.about-inner-section {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}
.about-section-title {
  font-size: 2.8rem;
  color: #333;
  margin: 0;
  font-weight: 600;
}
.about-inner-section ul {
  padding: 0 0 0 2rem;
}
.about-inner-section ul li {
  list-style: inside;
  margin: 1rem 0;
}
.about-inner-section ul li::marker {
  color: #333;
}
.about-inner-section ul li ul {
  padding: 0 0 0 3rem;
}
.about-inner-section ul li ul li {
  list-style: circle;
  margin: 1rem 0;
} 
.about-inner-section ul li ul li::marker {
  color: #333;
}
.about-inner-section ul li span {
  font-size: 1.6rem;
  color: #333;
}